<body>
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Your Favorites</h1>
      <p class="lead text-light">Any movies you have marked as your "favorite" will be listed here!</p>
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary random">Pick a random movie to watch from your favorites!</button>
        </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {{>moviecard movies}}
   </main>
</body>